* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Variable */

:root {
  --textColor: #a1a1a1;
  --bgColor: rgb(206, 206, 206);
  --textGra: ;
}

.container {
  width: 90%;
  margin: auto;
}

body {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

ul {
  list-style: none;
}

/* Navbar */
.navbar h3 {
  color: var(--textColor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navbar a:hover {
  border-bottom: 1px solid black;
}
.navbar a {
  padding-bottom: 3px;
}

/* left menu */
.navbar .left-menu {
  flex: 1;
  margin-left: 20px;
  display: flex;
  font-size: 14px;
}

.left-menu li {
  font-size: 14px;
  padding-right: 20px;
}

/* right menu */
.right-menu {
  display: flex;
}

.right-menu li {
  margin-right: 15px;
}

/* hero */
.hero {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background: url('./assets/banner2.jpg') no-repeat center center/cover;
}

.btn {
  background-color: rgb(48, 47, 47);
  border: none;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  left: 40%;
  bottom: 10%;
  display: inline-block;
  width: 200px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.8);
}
.btn:hover {
  opacity: 0.9;
}

.btn:hover span {
  margin-left: 10px;
}
.btn:hover span:before {
  content: '>>';
}

/* Products */
.products {
  font-size: 14px;
  font-weight: bold;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.products div {
  text-align: center;
}

/* Services */
.services,
.forWork {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.services p {
  color: var(--textColor);
}
.services img {
  width: 100%;
  margin-bottom: 10px;
}

.btn-details {
  display: inline-block;
  margin-top: 5px;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  background-color: #0275d8;
}

/* promotion */
.promotion {
  position: relative;
  color: whitesmoke;
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background: url('./assets/team.jpg') no-repeat center center/cover;
}

.promoInfo {
  width: 40%;
  position: absolute;
  top: 35%;
  left: 5%;
}
.promotion h3 {
  font-size: 25px;
}
.promotion p {
  opacity: 0.8;
}

.btn-details:hover {
  opacity: 0.8;
}

/* follow */
.follow {
  margin-top: 30px;
  display: flex;
}
.follow * {
  margin-right: 20px;
}
.follow p {
  font-size: 14px;
}

/* main-footer */
.main-footer {
  color: black;
  margin-top: 30px;
  height: 300px;
  width: 100%;
  background: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}
.main-footer li {
  color: var(--textColor);
}

@media only screen and (max-width: 800px) {
  .navbar .right-menu {
    display: none;
  }
  .products, .services, .forWork {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .navbar .left-menu {
    display: none;
  }
  .navbar  {
    justify-content: center;
  }
  .products, .services, .forWork, .main-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}